<ul class="s-partners__list">
  <li class="s-partners__items"><a href="#partner1" class="s-partners__link"><img src="img/logo/abajour_logo.png" alt="Partners logo" class="s-partners__logo"></a></li>
  <li class="s-partners__items"><a href="#partner2" class="s-partners__link"><img src="img/logo/altbee_logo.png" alt="Partners logo" class="s-partners__logo"></a></li>
  <li class="s-partners__items"><a href="#partner3" class="s-partners__link"><img src="img/logo/dedushka_logo.png" alt="Partners logo" class="s-partners__logo"></a></li>
  <li class="s-partners__items"><a href="#partner4" class="s-partners__link"><img src="img/logo/gdeburger_logo.png" alt="Partners logo" class="s-partners__logo"></a></li>
  <li class="s-partners__items"><a href="#partner5" class="s-partners__link"><img src="img/logo/logo_baden_baden.png" alt="Partners logo" class="s-partners__logo"></a></li>
  <li class="s-partners__items"><a href="#partner6" class="s-partners__link"><img src="img/logo/logo_klass.png" alt="Partners logo" class="s-partners__logo"></a></li>
  <li class="s-partners__items"><a href="#partner1" class="s-partners__link"><img src="img/logo/abajour_logo.png" alt="Partners logo" class="s-partners__logo"></a></li>
  <li class="s-partners__items"><a href="#partner2" class="s-partners__link"><img src="img/logo/altbee_logo.png" alt="Partners logo" class="s-partners__logo"></a></li>
  <li class="s-partners__items"><a href="#partner3" class="s-partners__link"><img src="img/logo/dedushka_logo.png" alt="Partners logo" class="s-partners__logo"></a></li>
  <li class="s-partners__items"><a href="#partner4" class="s-partners__link"><img src="img/logo/gdeburger_logo.png" alt="Partners logo" class="s-partners__logo"></a></li>
  <li class="s-partners__items"><a href="#partner5" class="s-partners__link"><img src="img/logo/logo_baden_baden.png" alt="Partners logo" class="s-partners__logo"></a></li>
  <li class="s-partners__items"><a href="#partner6" class="s-partners__link"><img src="img/logo/logo_klass.png" alt="Partners logo" class="s-partners__logo"></a></li>
</ul>