<!-- @@id Program Card -->
<article class="program-card" id="@@id" data-title="@@id">
  <header class="program-card__header">
    <div class="row">
      <div class="col-md-7">
        <figure class="program-card__picture"><img src="img/program1.jpg" alt="@@id Program"></figure>
      </div>
      <div class="col-md-5">
        <div class="program-card__info">
          <h4 class="program-card__title">@@title</h4>
          <div class="program-card__options">
            <i class="svg-certificate svg-certificate-dims"></i>Certificate
          </div>
          <div class="program-card__options">
            <i class="svg-clock svg-clock-dims"></i>240 minutes
          </div>
          <div class="program-card__price">@@price<span>usd</span></div>
          <a href="#registration" class="program-card__registration-btn">Registration</a>
        </div>
      </div>
    </div>
  </header>
  <div class="program-card__content">
    <div class="row">
      <div class="col-md-4">
        <div class="program-card__list">
          <div class="program-card__list-title">
            Provenance coffee and basic concepts:
          </div>
          <ul class="program-card__list-items">
            <li>Legend of the origin of coffee.</li>
            <li>Chronicle of the spread of the coffee tree</li>
            <li>What is coffee?</li>
            <li>The structure of the coffee berry</li>
            <li>Arabica and Robusta</li>
            <li>Coffee Belt land</li>
            <li>Fruiting coffee tree</li>
            <li>Seven steps of the coffee plantation to the consumer</li>
            <li>Breeding and hybridization of coffee tree</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="program-card__list">
          <div class="program-card__list-title">
            Coffee production technology:
          </div>
          <ul class="program-card__list-items">
            <li>Methods for collecting coffee berries</li>
            <li>Processing collected berries</li>
            <li>Calibration and sorting</li>
            <li>Some methods of classification and labeling of coffee beans.</li>
            <li>Formation of grade names.</li>
            <li>Storage of green (not fried) Coffee</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="program-card__list">
          <div class="program-card__list-title">
            Roasting technology bean. And stage types of roasting.
          </div>
          <ul class="program-card__list-items">
            <li>The technology of roasting coffee beans.</li>
            <li>Changes in the beans.</li>
            <li>Stages and types of roasting.</li>
            <li>Roasted coffee. Monosorta and hood.</li>
            <li>Decaffeination of coffee</li>
            <li>Flavoring</li>
            <li>Storage roasted coffee</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="program-card__list-title program-card__list-title--unbordered">
          The course also includes:
        </div>
        <table class="program-card__table">
          <tr><td><i class="svg-yes svg-yes-dims"></i></td><td>Coffee machine and grinder - practice - types of coffee machines and coffee grinders</td></tr>
          <tr><td><i class="svg-yes svg-yes-dims"></i></td><td>What makes professional coffee machines and coffee grinders.</td></tr>
          <tr><td><i class="svg-no svg-no-dims"></i></td><td>Main components of coffee machines and coffee-Lathes, autolathes. Their purpose</td></tr>
          <tr><td><i class="svg-no svg-no-dims"></i></td><td>How to choose a coffee machine and coffee grinder</td></tr>
          <tr><td><i class="svg-no svg-no-dims"></i></td><td>The structure of the machine. How to maintain, clean and customize coffee machine</td></tr>
          <tr><td><i class="svg-no svg-no-dims"></i></td><td>The structure of the grinders. How to maintain, clean and customize coffee Molko</td></tr>
          <tr><td><i class="svg-yes svg-yes-dims"></i></td><td>Making beverages - praktika- machines and espresso rules</td></tr>
          <tr><td><i class="svg-no svg-no-dims"></i></td><td>Technology and regulations frothed milk</td></tr>
          <tr><td><i class="svg-no svg-no-dims"></i></td><td>Terms of tasting coffee</td></tr>
          <tr><td><i class="svg-no svg-no-dims"></i></td><td>Terms of preparation of standard drinks line: espresso, cappuccino, latte and others.</td></tr>
          <tr><td><i class="svg-no svg-no-dims"></i></td><td>Latte Art - Features practice and the importance of Latte Art in business and the barista</td></tr>
          <tr><td><i class="svg-no svg-no-dims"></i></td><td>1 views Latte Art - Pitching</td></tr>
          <tr><td><i class="svg-no svg-no-dims"></i></td><td>2 views Latte Art - topping</td></tr>
          <tr><td><i class="svg-no svg-no-dims"></i></td><td>3 views Latte Art - Etching</td></tr>
          <tr><td><i class="svg-no svg-no-dims"></i></td><td>4 views Latte Art - chocolate chip stencils</td></tr>
        </table>
      </div>
    </div>
  </div>
</article><!-- End @@id Program Card -->