<div class="testimonial">
  <div class="testimonial__avatar">
    <div class="testimonial__social"><i class="svg-fb svg-fb-dims"></i></div>
    <img src="img/avatar1.jpg" alt="User avatar">
  </div>
  <div class="testimonial__name">@@name</div>
  <p class="testimonial__text">
    Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300 people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning refreshed and in a good mood! Recommended!
  </p>
</div>